.movie_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 18.5rem;
  padding: 1.8rem;
  text-align: left;
  line-height: 1.6rem;
  background-color: #c8de90;
  border-radius: 1rem;
}

.movie_card h3 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.movie_card p {
  color: #015642;
}

.movie_card p:nth-child(3) {
  font-weight: 700;
}
